.light-theme {
    --bg-color: #ffffff;
    --text-color: #24292e;
    --link-color: #0366d6;
    --header-bg-color: #e7f1f6;
    --footer-bg-color: #f6f8fa;
    --card-bg-color: rgba(231, 241, 246, 0.8);

}

.dark-theme {
    --bg-color: #0d1117;
    --text-color: #c9d1d9;
    --link-color: #58a6ff;
    --header-bg-color: #161b22;
    --footer-bg-color: #161b22;
    --card-bg-color: rgba(22, 27, 34, 0.8);
}